*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.bar{
    color: #fff;
}
.bar:hover{
    color:plum;
}
#menu-icon{
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
    display: flex;

}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(30deg, black 15%, rgb(1, 115, 221), black 100%);
}
header
{
    position: absolute;
    top: -50px;
    left: -160px;
    width: 100%;
    padding: 25px 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    position: relative;
    max-width: 80px;
    left: -20px;
    top: 50px;
    transform: scale(1);
    filter: invert(1);
}
header ul
{
    position: relative;
    display: flex;
    border-radius: 15px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0 1px 0px 0;
    width: 90%;
    font-size: 23px;
}
header ul li
{
     list-style: none;
     top: 40px;
     margin-bottom: 50px;
     margin-left: 30px;
}
header ul li a
{
    display: inline-block;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;   
    font-family: font1;
    padding: 0 30px 0 100px;
}
header a
{
    color: white;
}
header a:hover
{   
    color: gold;
}

.content
{
    position: relative;
    width: 100%;
    display: flex;
    top: -50px;
    left: 20px;
    justify-content: space-between;
    align-items: center;   
}
.content img
{   
    position: absolute;
    top: -50px;
    max-width: 120px;
    height: 70px;
   margin-left: -60px;
}
.content .textBox h4
{
    color: rgb(204, 3, 3);
    position: absolute;
    top:-55px;
    left: 60px;
    line-height: 1.4em;
    font-weight: 500;
    font-size: 35px;
    font-family: font1;
    text-shadow: black 2px 1px;
}
.content .textBox h4 span
{
    color: wheat;
    position: absolute;
    top: 25px;
    left: 0px;
    line-height: 1.4em;
    font-weight: 500;
    font-size: 40px;
    font-family: font1;
    text-shadow: black 2px 1px;
}
.content .textBox h2
{
    color: blue;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
    font-size: 70px;
    font-stretch: expanded 3px;
    font-family: font2;
    text-shadow: black 2px 5px;
}
.content .textBox h2 span 
{
    position: absolute;
    font-family: font2;
    color: white;
    margin-left: 30px;
    margin-top: 35px;
    letter-spacing: 12px;
    font-size: 105px;
    font-weight: 500;
}

.content .imgslider2 {
    height: 2000px;
    width: 10px;
}

.content .textBox a
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    color: #fff; 
    border-radius:  40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .quote p
{
    display:    inline-block;
    position:   absolute;
    margin-top: 20px;
    top:        210px;
    left:       0px;
    padding:    8px 20px;
    color:    #fff; 
    border-radius:  40px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 17px;
    font-family: font1;
    text-shadow:black 1px 1px;
    text-decoration: none;
}
.imgbox
{
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    margin-top: 10px;
    z-index: 999;
    
}
.content .imgbox img
{
    max-width: 340px;
   
}
.sci
{
    position: absolute;
    top: 480px;
    left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;

}
.sci li
{
    list-style: none;
}
.sci li a
{
    display: inline-block;
    margin: 10px 10px;
    transform: scale(0.6);
    filter: invert(1);
}
.circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(30deg, black 15%, red, black 100%);
    clip-path: circle(900px at right 600px);
}
.circle2
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(30deg, black 15%, rgb(2, 144, 226) 30%, black 110%);
    clip-path: circle(540px at right 700px);
}
@media(max-width:991px) 
{
    header
    {
        padding: 20px;
    }
    header .logo 
    {
        max-width: 60px;
    }
    header ul
    {
        display: none;
    }
    .toggle
    {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
        z-index: 11;
    }   
    .toggle.active{
        position: fixed;
        right: 20px;
        background-size: 25px;   
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
    }
    header ul.navigation.active
    {
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
        z-index: 10;
    }
    header ul li a
    {
        font-size: 1.5em;
        margin: 5px 0;
    }
    section
    {
        padding: 20px;
    }
    .content
    {
        flex-direction: column;
        margin-top: 100px;
    }
    .content .textBox h2
    {
        font-size: 2.5em;
    }
    .content .textBox 
    {
        max-width: 100%;
    }
    .circle
    {
        clip-path: circle(400px at center bottom);
    }
    .sci
    {
        right: 0;
        width: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px; 
    }
} 

-------------------------------------------------
.dropbtn {
    text-align:			left;
    text-decoration:	none;
	width:				auto;
}
.dropdown {
    display:	inline-block;
	position:	relative;
    cursor:     pointer;
}

.dropdown-content {
    display: 		    none;
    position: 			absolute;
    background-color: 	rgb(107, 83, 77, 0.5);
    width: 				90%;
    height:             auto;
    box-shadow: 		4px 10px 10px rgb(80, 24, 90, 0.3);
	z-index: 			100;
    border-radius:      10px;
    left: 40px;
}

.dropdown-content a {
    color: 				white;
    padding: 			10px 20px 10px 20px;
    text-decoration: 	none;
    display: 			block;
    text-align: 		center;
	width:				auto;
	z-index: 			1;
    font-size:          13px;
    letter-spacing:     2px;
    
}
.dropdown-content a:hover{
    background-color: blue;
    border-radius:      10px;
}
.dropdown:hover .dropdown-content {
    display:	block;
}

